.content-container {
  box-sizing: border-box;
  padding: 10px;

  table {
    width: 100%;

    & .table-row:hover {
      background: #c2185b;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 750px) {
  .content-container {
    table {
      margin: auto;
      width: 70%;
    }
  }
}
